<h1 class="site-title">FlatLanders' Gem Store</h1>
<!--  Product Container  -->
<div data-ng-controller="StoreController" data-ng-init="index()" class="row">
  <a href class="btn btn-primary col-md-offset-2" data-ng-click="product.creating = true" data-ng-hide="product.creating">Create new product</a>
  <br><br>
  <form name="productForm" data-ng-submit="productForm.$valid" novalidate class="col-md-8 col-md-offset-2" data-ng-show="product.creating">
    <h2>Create new product</h2>
    <label class="col-md-2">Name:</label>
    <input data-ng-model="product.name" type="text" class="col-md-offset-1" required /><br>
    <label class="col-md-2">Description:</label>
    <input data-ng-model="product.description" type="text" class="col-md-offset-1" required><br>
    <label class="col-md-2">Price:</label>
    <input data-ng-model="product.price" type="number" class="col-md-offset-1" required><br>
    <label class="col-md-2">Rarity:</label>
    <input data-ng-model="product.rarity" type="number" class="col-md-offset-1" required><br>
    <label class="col-md-2">Shine:</label>
    <input data-ng-model="product.shine" type="number" class="col-md-offset-1" required><br>
    <label class="col-md-2">Color:</label>
    <input data-ng-model="product.color" type="text" class="col-md-offset-1" required><br>
    <label class="col-md-2">Faces</label>
    <input data-ng-model="product.faces" type="number" class="col-md-offset-1" required><br><br>
    <button type="submit" class="btn btn-primary col-md-2" data-ng-click="create(product); product.creating = false">Submit Product</button>
    <a href class="btn btn-danger col-md-2 col-md-offset-1" data-ng-click="product.creating = false" data-ng-show="product.creating">Cancel</a>
    <br><br><br>
  </form>

  <div class="list-group-item col-md-offset-2 col-md-8" ng-repeat="product in products">
    <div class="row">
      <a href class="col-md-1" data-ng-click="product.updating = true">Update</a>
      <a href class="col-md-1" data-ng-click="destroy(product)">Delete</a>
    </div>

    <div class="row">
      <form name="productForm" data-ng-submit="productForm.$valid" novalidate class="col-md-8 col-md-offset-2" data-ng-show="product.updating">
        <h3>Update product</h3>
        <label class="col-md-2">Name:</label>
        <input data-ng-model="product.name" type="text" class="col-md-offset-1" required /><br>
        <label class="col-md-2">Description:</label>
        <input data-ng-model="product.description" type="text" class="col-md-offset-1" required><br>
        <label class="col-md-2">Price:</label>
        <input data-ng-model="product.price" type="number" class="col-md-offset-1" required><br>
        <label class="col-md-2">Rarity:</label>
        <input data-ng-model="product.rarity" type="number" class="col-md-offset-1" required><br>
        <label class="col-md-2">Shine:</label>
        <input data-ng-model="product.shine" type="number" class="col-md-offset-1" required><br>
        <label class="col-md-2">Color:</label>
        <input data-ng-model="product.color" type="text" class="col-md-offset-1" required><br>
        <label class="col-md-2">Faces</label>
        <input data-ng-model="product.faces" type="number" class="col-md-offset-1" required><br><br>
        <button type="submit" class="btn btn-primary col-md-3" data-ng-click="update(product)">Submit Update</button>
        <a href class="btn btn-danger col-md-2 col-md-offset-1" data-ng-click="product.updating = false" data-ng-show="product.updating">Cancel</a>
        <br><br><br>
      </form>
    </div>

    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <product-gallery></product-gallery>

    <product-tabs></product-tabs>
  </div>
</div>
