<h1 class="site-title">FlatLanders' Gem Store</h1>
<!--  Product Container  -->
<div data-ng-controller="StoreController" data-ng-init="index()" class="row">
  <a href class="btn btn-primary col-md-offset-2" data-ng-click="productCreating = true" data-ng-hide="productCreating">Create new product</a>
  <br><br>
  <div class="col-md-offset-2">
    <a href class="btn btn-primary" data-ng-click="viewingCategories = !viewingCategories">Categories</a><br><br>

    <div data-ng-show="viewingCategories" data-ng-init="getCategories()" >
      <a href data-ng-click="creatingCategory = !creatingCategory" data-ng-hide="creatingCategory">Create new category</a><br>

      <form data-ng-show="creatingCategory" data-ng-submit="productForm.$valid" novalidate>
        <label class="col-md-2">Category Name:</label>
        <input data-ng-model="category.name" type="text"> <br><br>
        <button type="submit" class="btn btn-primary col-md-2 col-md-offset-1" data-ng-click="createCategory(category); creatingCategory = false" data-ng-show="creatingCategory">Create Category</button>
        <a href class="btn btn-primary col-md-2 col-md-offset-1" data-ng-click="creatingCategory = false" data-ng-show="creatingCategory">Cancel</a><br><br>
      </form>
      <br>
      <a href data-ng-click="index()">All</a>
      <div data-ng-repeat="category in categories">
        <a href data-ng-click="currentCategory(category)">{{category.name}}</a>
        <a href data-ng-click="editingCategory = true" data-ng-hide="editingCategory">Edit</a>

        <input data-ng-show="editingCategory" type="text" data-ng-model="category.name">
        <button data-ng-click="updateCategory(category)" data-ng-click="editingCategory = false" data-ng-show="editingCategory">Update</button>
        <a href data-ng-click="editingCategory = false" data-ng-show="editingCategory">Cancel</a>

        <a href data-ng-click="destroyCategory(category)">Delete</a>
      </div>
      <br>
    </div>
  </div>

  <form name="productForm" data-ng-submit="productForm.$valid" novalidate class="col-md-8 col-md-offset-2" data-ng-show="productCreating">
    <h2>Create new product</h2>
    <label class="col-md-2">Category:</label>
    <select data-ng-model="product.category_id" class="col-md-offset-1" data-ng-options="names for names in categoryNames">
      <option value="">Select category</option>
    </select><br><br>
    <label class="col-md-2">Name:</label>
    <input data-ng-model="product.name" type="text" class="col-md-offset-1" required /><br>
    <label class="col-md-2">Description:</label>
    <input data-ng-model="product.description" type="text" class="col-md-offset-1" required><br>
    <label class="col-md-2">Price:</label>
    <input data-ng-model="product.price" type="number" class="col-md-offset-1" required><br>
    <label class="col-md-2">Rarity:</label>
    <input data-ng-model="product.rarity" type="number" class="col-md-offset-1" required><br>
    <label class="col-md-2">Shine:</label>
    <input data-ng-model="product.shine" type="number" class="col-md-offset-1" required><br>
    <label class="col-md-2">Color:</label>
    <input data-ng-model="product.color" type="text" class="col-md-offset-1" required><br>
    <label class="col-md-2">Faces</label>
    <input data-ng-model="product.faces" type="number" class="col-md-offset-1" required><br><br>
    <button type="submit" class="btn btn-primary col-md-2" data-ng-click="create(product); productCreating = false">Submit Product</button>
    <a href class="btn btn-danger col-md-2 col-md-offset-1" data-ng-click="productCreating = false" data-ng-show="productCreating">Cancel</a>
    <br><br><br>
  </form>

  <div class="list-group-item col-md-offset-2 col-md-8" ng-repeat="product in products">
    <div class="row">
      <a href class="col-md-1" data-ng-click="product.updating = true">Update</a>
      <a href class="col-md-1" data-ng-click="destroy(product)">Delete</a>
    </div>

<!-- <select ng-model="review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
  <option value="">Rate the Product</option>
</select> -->

    <div class="row">
      <form name="productForm" data-ng-submit="productForm.$valid" novalidate class="col-md-8 col-md-offset-2" data-ng-show="product.updating">
        <h3>Update product</h3>
        <label class="col-md-2">Category:</label>
        <select data-ng-model="product.category_id" class="col-md-offset-1" data-ng-options="names for names in categoryNames">
          <option value="">Select category</option>
        </select><br><br>
        <label class="col-md-2">Name:</label>
        <input data-ng-model="product.name" type="text" class="col-md-offset-1" required /><br>
        <label class="col-md-2">Description:</label>
        <input data-ng-model="product.description" type="text" class="col-md-offset-1" required><br>
        <label class="col-md-2">Price:</label>
        <input data-ng-model="product.price" type="number" class="col-md-offset-1" required><br>
        <label class="col-md-2">Rarity:</label>
        <input data-ng-model="product.rarity" type="number" class="col-md-offset-1" required><br>
        <label class="col-md-2">Shine:</label>
        <input data-ng-model="product.shine" type="number" class="col-md-offset-1" required><br>
        <label class="col-md-2">Color:</label>
        <input data-ng-model="product.color" type="text" class="col-md-offset-1" required><br>
        <label class="col-md-2">Faces</label>
        <input data-ng-model="product.faces" type="number" class="col-md-offset-1" required><br><br>
        <button type="submit" class="btn btn-primary col-md-3" data-ng-click="update(product)">Submit Update</button>
        <a href class="btn btn-danger col-md-2 col-md-offset-1" data-ng-click="product.updating = false" data-ng-show="product.updating">Cancel</a>
        <br><br><br>
      </form>
    </div>

    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <product-gallery></product-gallery>

    <product-tabs></product-tabs>
  </div>
</div>
