<!DOCTYPE html>
<html data-ng-app="GemStoreApp">
<head>
  <title>GemStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="list-group" ng-controller="StoreController as store">

<%= yield %>

</body>
</html>
